.author {
  &__link {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    text-decoration: none;
  }
  &__text {
    font-weight: 400;
    font-family: "Arial";
    color:$special-dark-grey;

  }
  &__img {
  }
}
