.container {
  @media (max-width: 320px) {
    max-width: 320px;
    margin: auto;
    padding: 0 20px;
  }
  @media(max-width: 768px) {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
  }

  @media (max-width: 1170px) {
    max-width: 1170px;
    margin: auto;
    padding: auto;
  }
}
