.example {
  background-color: $basic-grey;

  &__title {
    padding-top: 27px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    font-family: "Oswald";
    color: $black;
  }

  &__text-block {
    margin-bottom: 34px;
    padding: 0 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial";
    color: $special-dark-grey;
  }

  &__result {
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "Oswald";
    text-align: center;
    color: $black;
    text-transform: uppercase;

  }
}
