 .footer {
  &__contact {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__location {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__logo {
    margin-right: 15px;
    margin-left: 15px;
    background-color: $basic-grey;
  }
  &__social-icons {
    margin-right: 15px;
    margin-left: 15px;
    background-color: $basic-grey;
  }
  &__author {
    margin-right: 15px;
    margin-left: 15px;
    background-color: $basic-grey;
  }
}
