.footer {
margin-top: 0px;

  &__contact {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__location {
  }

  &__logo {
    padding-top: 40px;
    text-align: center;
    background-color: $basic-grey;
    padding-bottom: 0;
    border-bottom: none;

      &-svg {
        padding-bottom: 0;
        border-bottom: none;
      }
  }
  &__social-icons {
    padding-top: 32px;
    padding-bottom: 22px;
    background-color: $basic-grey;
  }
  &__author {
    background-color: $basic-grey;
  }
}
