 .footer {

  &__contact {

  }

  &__location {

  }

  &__logo {
    background-color: $basic-grey;
  }
  &__social-icons {
    background-color: $basic-grey;
  }
  &__author {
    background-color: $basic-grey;
  }
}
