.header {
  margin-right: 20px;
  margin-left: 20px;
  &__logo {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin-top: 12px;
    margin-right: 20px;
    margin-left: 20px;

  }
  &__open {
    background-color: transparent;
    border: none;
  }
  &__close {
    background-color: transparent;
    border: none;

  }
}
