.header {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-top {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: space-between;

  }

  &__open {
    background-color: transparent;
    border: none;
  }

  &__close {
    background-color: transparent;
    border: none;

  }
}
