.promo {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;

  &__title {
    margin: 0;
    padding-top: 27px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald";
    text-align: center;
    color: $white;
  }

  &__text {
    margin-top: 25px;
    padding-bottom: 167px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: "Oswald";
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }
  &__background {
    background-color: $basic-green;
    background-image: url("../img/index-background-mobile@1x.webp");
  }
  &__img {
    position: absolute;
    top: 167px;
  }
  &__button {
    position: absolute;
    top: 440px;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    padding: 11px 73px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Oswald";
    color:$white;
  }
}
