.site-nav {
  &__list {
    margin-top: 16px;
    margin-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    list-style-type: none;
  }
  &__item {
    padding: 23px 0;
    text-align: center;
    border-top: 1px solid $basic-grey-2;

    &--current {

    }
  }
  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald";
    color: $black;
    text-decoration: none;
    &--current {

    }
  }
}
