.social-icons {
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    list-style: none;
    vertical-align: middle;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      margin-right: auto;
      margin-left: auto;
      background-color: transparent;
      border-top: 1px solid $special-grey;
      }
    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border-bottom: 1px solid $special-grey;
    }
}

  &__item {
    max-height: 26px;
    vertical-align: middle;
    &--vk {
      padding-top: calc(50%-26px);
    }
    &--insta {
      padding-top: calc(50%-26px);
    }
    &--fb {
      padding-top: calc(50%-26px);
    }
  }
}
