.special {
  margin-top: 27px;
  margin-bottom: 42px;

  &__title {
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    font-family: "Oswald";
    color: $black;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    /*height: 300px;*/
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    color: #444444;

    &--leaf::before {
      background-image: url("../../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }

    &--powder::before {
      background-image: url("../../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }

    &--dining::before {
      background-image: url("../../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }

    &--clock::before {
      background-image: url("../../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }


    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 1px;
      display: block;
      width: 60px;
      height: 60px;
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__text {
    width: 200px;
    margin: 0;
    margin-left: 81px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
  }
}
