.fieldset--base {
  border-bottom: 1px soild $basic-grey-2;
  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald";
    color: $special-dark-grey;
    text-transform: uppercase;
  }
  &__input {
    padding: 12px 150px 12px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald";
    color: $special-dark-grey;
    text-transform: uppercase;
    border: 1px solid $basic-grey-2;
  }
}
