.page-header--background {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;

    display: block;
    width: 100%;
    min-height: 305px;

    background-color: $green-darken;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.page-header__nav {
  display: none;
}

.page-header__nav--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 21px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header--background {
    &::after {
      display: none;
    }
  }

  .page-header__nav {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 0;
  }

  .page-header__wrapper {
    padding-top: 52px;
  }

  .page-header__list {
    flex-wrap: wrap;
    width: 610px;
  }

  .page-header--background {
    &::after {
      top: 0;
      right: 1px;

      display: block;
      width: 50%;
      min-height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: 0 center;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
