.product-add__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $default-font;
  color: $black-light;
  text-transform: uppercase;
}

.product-add__tagline {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $second-font;
  color: $gray;
}
