.promo {

  &__title {
    font-size: 36px;
    line-height: 36px;
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  /*
  &__img {
*/

  &__button {
    padding: 11px 73px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Oswald", sans-serif;
    color:$white;
  }
}
