.special {

  &__title {
    font-size: 36px;
    line-height: 40px;
    font-family: "Oswald", sans-serif;
    color: $black;
  }

  &__list {
    list-style-type: none;
  }

/*  &__item {

  }

  &__img {

  }
*/
  &__text {
    font-size: 14px;
    line-height: 18px;
    color:$special-dark-grey;
  }

}
