$default-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;
$green: #68b738;
$green-darken: #64a83b;
$white: #ffffff;
$gray-dark: #222222;
$gray: #444444;
$gray-lighter: #eaeaea;
$gray-light: #f2f2f2;
$black-light: #111111;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$placeholder-color: rgba(68, 68, 68, 1);
$input-color: rgba(205, 205, 205, 0.5);
$input-color--hover: rgba(205, 205, 205, 1);
$invalid-color: #ff8282;
$focus-color: #444444;
$focus-color--icon: #68b738;
$slider-color-text: rgba(190, 190, 190, 0.5);
$slider-color-text--hover: rgba(190, 190, 190, 1);
$slider-button-color: #dcdcdc;
$outline-color: #4d90fe;
$academy-icon-color: #666666;
$button-color: #68b738;
$button-color--hover: #5eaa2f;
