@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
	src: url("../fonts/static/Oswald-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/static/Oswald-Medium.ttf");
}
@font-face {
  font-weight: normal;
  font-weight: 400;
  font-family: "Arial";
  font-style: normal;
  src: url("../fonts/static/Arial-Regular.ttf");
}
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
*/
