.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.wrapper {
  max-width: 1500px;
}
.title {
  font-family: "Oswald";
  color: $black;
}
.text {
  font-family: "Arial";
}
.button {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-green;
}
